@import "./variables";

.landing-page {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: $color-secondary;
  h1 {
    font-size: 64px;
    font-weight: bold;
  }
}
.landing-page::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url("./../assets/pexels-pixabay-416405.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}
