@import "./variables";

.hamburger-menu {
  position: fixed;
  z-index: 999;
}

.hamburger-icon {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  z-index: 1000;
}

.hamburger-menu .line {
  transition: 0.4s;
}

.hamburger-menu:hover .line {
  transform: translate(4px, 0);
}

.line {
  width: 30px;
  height: 3px;
  background-color: $color-secondary;
  margin: 6px 0;
  transition: 0.4s;
}

.navigation {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: $color-primary;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  z-index: 999;
  display: flex;
  justify-content: center;
  img {
    width: 150px;
  }
  .close-button {
    cursor: pointer;
    font-size: 48px;
    color: white;
    border: none;
    position: absolute;
    right: 8px;
  }
  ul {
    margin-top: 32px;
    list-style-type: none;
    text-align: center;
    margin-left: -40px !important;
  }
  a {
    color: white;
    text-decoration: none;
    margin: 0 8px;
  }
}

.navigation.active {
  left: 0;
}
